[phases.setup]
nixPkgs = [
  "python311",
  "glib",
  "nss",
  "nspr",
  "dbus",
  "atk",
  "at-spi2-atk",
  "cups",
  "libdrm",
  "at-spi2-core",
  "expat",
  "xorg.libX11",
  "xorg.libXcomposite",
  "xorg.libXdamage",
  "xorg.libXext",
  "xorg.libXfixes",
  "xorg.libXrandr",
  "mesa",
  "xorg.libxcb",
  "libxkbcommon",
  "pango",
  "cairo",
  "alsa-lib",
  "chromium"
]

[phases.install]
cmds = ["python3 -m pip install -r requirements.txt"]

[start]
cmd = "cd api && python3 server.py"
